.list-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.edit-button {
  margin-left: 12px;
  width: 175px;
}

.index-button {
  width: 362px;
  margin-left: 12px;
}

.clear-button {
  margin-left: 80px;
  width: 205px;
}

.list-form {
  display: flex;
  flex-direction: column;
  max-width: 952px;
}

.list-elements {
  display: flex;
  max-width: 952px;
  margin-bottom: 12px;
}

.circle-box {
  display: flex;
  margin: 39px auto 0; 
  justify-content: center;
  align-items: center;
}

.circle {
  margin-right: 16px;
  margin-left: 16px;
}

.circles {
  position: relative;
}

.small-circle {
  z-index: 1;
  background-color: #fff;
}
.small-circle-top {
  position: absolute;
  bottom: 88px;
  left: 12px;
}

.small-circle-bottom {
  position: absolute;
  top: 118px;
  left: 12px;
}