.fibonacci-form {
  display: flex;
  max-width: 522px;
}

.fibonacci-input {
  width: 377px;
  margin-right: 12px;
}

.circle-box {
  display: flex;
  flex-wrap: wrap;
  gap: 78px 16px;
  margin: 48px auto 0; 
  max-width: 944px;
}

.fibonacci-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.circle {
  box-sizing: border-box;
  border-radius: 50%;
}